@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap");

.donation {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form2 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: rgb(23, 154, 147, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Calibri";
  font-weight: bold;
  font-size: 24px;
}
.form3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
  width: 100%;
  padding: 1rem;
  background-color: rgb(23, 154, 147, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: "Calibri";
  font-weight: bold;
  font-size: 24px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-size: 18px;
  font-weight: light;
  font-family: "Calibri";
  margin-bottom: 0.5rem;
  color: #333333;
}

.form-group input,
.form-group select {
  padding: 0.5rem;
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Calibri";
}

.form-group input[type="date"] {
  padding: 0.4rem;
}

.delete-button {
  grid-column: 8;
  background: #ff7f50;
  color: white;
  border: none;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-size: 14px;
  cursor: pointer;
}
.view {
  display: flex;
}
.no-view {
  display: none;
}

.delete-button:hover {
  background: #c0392b;
}

.fillers {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;
}

.fillers > div {
  display: none;
  grid-column: 1 / 7;
  margin-top: 3rem;
  justify-self: center;
}

.fillers > .active {
  display: flex;
}

.con {
  background-color: rgb(23, 154, 147, 0.1);
  width: 401px;
  justify-content: center;
  height: 222px;
  padding: 1rem 3rem 0 3rem;
  border-radius: 5px;
  box-shadow: 0 0 5px #333333;
}
.formph {
  background-color: rgb(23, 154, 147, 0.1);
  width: 518px;
  justify-content: center;
  height: 222px;
  padding: 1rem 3rem 0 3rem;
  border-radius: 5px;
  box-shadow: 0 0 5px #333333;
}
.Nom1 {
  background-color: rgb(23, 154, 147, 0.1);
  width: 357px;
  justify-content: center;
  height: 245px;
  padding: 1rem 3rem 0 3rem;
  border-radius: 5px;
  box-shadow: 0 0 5px #333333;
}
.dosage {
  background-color: rgb(23, 154, 147, 0.1);
  width: 290px;
  justify-content: center;
  height: 245px;
  padding: 1rem 3rem 0 3rem;
  border-radius: 5px;
  box-shadow: 0 0 5px #333333;
}
.qte {
  background-color: rgb(23, 154, 147, 0.1);
  width: 218px;
  justify-content: center;
  height: 65px;
  padding: 1rem 3rem 0 3rem;
  border-radius: 5px;
  box-shadow: 0 0 5px #333333;
}
.exp {
  justify-content: center;

  padding: 1rem 3rem 0 3rem;
  border-radius: 5px;
}

.fillers input {
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: solid 2px #999999;
  font-size: 16px;
  padding: 0.5rem;
  color: #222222;

  margin-bottom: 1rem;
  width: 371px;
  height: 30px;
}
.custom-select-wrapper {
  width: 216px;
  font-family: "Calibri", sans-serif;
}

.custom-select {
  position: relative;
}

.select-label {
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  margin-bottom: 10px;
}

.scrollable-list {
  height: 200px;
  width: 212px;
  overflow-y: auto;
  padding: 5px 10px;
  direction: rtl;
  text-align: left;
  margin-left: 10px;
}

.list-item {
  font-size: 18px;
  direction: ltr;
  color: #333333;
  padding: 5px 0;
  cursor: pointer;
}

.list-item:hover {
  background-color: #f0f0f0;
}

.scrollable-list::-webkit-scrollbar-track {
  background: transparent;
}

.scrollable-list::-webkit-scrollbar {
  width: 10px;
  border-radius: 6px;
  border: solid 1px #333333;
  padding: 3rem;
}

.scrollable-list::-webkit-scrollbar-thumb {
  background: #005c4b;
  width: thin;
  height: 20px;
  border-radius: 5px;
  margin: 8px;
  border: solid transparent;
}
.select-slider-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.qt input {
  width: 46px;
  border: none;
  text-align: center;
  font-size: 19px;
  font-family: "Calibri";
}
.but {
  width: 30px;
  height: 30px;
  background-color: #005c4b;
  color: #ddd;
  border: none;
  border-radius: 6px;
}

#root
  > div
  > div
  > div.stepper1
  > div
  > div.step-content
  > div
  > div.donation
  > div
  > div.select-slider-container.active.ordonnance
  > fieldset
  > div
  > label:nth-child(1)
  > span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.Mui-checked.MuiRadio-root.MuiRadio-colorPrimary.css-vqmohf-MuiButtonBase-root-MuiRadio-root
  > span.css-hyxlzm
  > svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-11zohuh-MuiSvgIcon-root
  > path {
  color: #005c4b;
}
#root
  > div
  > div
  > div.stepper1
  > div
  > div.step-content
  > div
  > div.donation
  > div
  > div.select-slider-container.active.ordonnance
  > fieldset
  > div
  > label:nth-child(2)
  > span.MuiButtonBase-root.MuiRadio-root.MuiRadio-colorPrimary.PrivateSwitchBase-root.MuiRadio-root.MuiRadio-colorPrimary.Mui-checked.MuiRadio-root.MuiRadio-colorPrimary.css-vqmohf-MuiButtonBase-root-MuiRadio-root
  > span.css-hyxlzm
  > svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-11zohuh-MuiSvgIcon-root
  > path {
  color: #005c4b;
}
#root
  > div
  > div
  > div.stepper1
  > div
  > div.step-content
  > div
  > div.donation
  > div
  > div.select-slider-container.active.ordonnance {
  background-color: rgb(23, 154, 147, 0.1);
  width: 192px;
  justify-content: center;
  height: 166px;
  padding: 1rem 3rem 0 3rem;
  border-radius: 5px;
  box-shadow: 0 0 5px #333333;
}

.Mui-focused {
  color: #005c4b;
}
